<nav class="navbar bg-dark">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Backward</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Forward</a>
    </li>
  </ul>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link text-white active" href="#">Playlists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Podcasts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Artists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Albums</a>
    </li>
  </ul>

  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      id="dropDownMenuButton1"
    >
      Username
    </button>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropDownMenuButton1">
      <li><a class="dropdown-item" href="#">Account</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><a class="dropdown-item" href="#">Log out</a></li>
    </ul>
  </div>
</nav>
